/.env
/.secrets

/local.mk

/__pycache__
/artifacts
/crypto-config

/configtx.yaml
/crypto-config.yaml

/tools/Linux-x86_64
/tools/Darwin-i386
/tools/CYGWIN_NT-10.0-x86_64/

# persistent storage
/data

/k8s/ca-server.yaml
/k8s/orderer.yaml
/k8s/peers.yaml
/k8s/coredns/tmp
/k8s/Corefile

.*.swp
